*{
    box-sizing: border-box;
}
body{   
    background-color: blanchedalmond;
    font-family: 'Quicksand', sans-serif;
    font-size:20px;
}
html{
    
}


h1{
    padding-top: 155px;
    margin-bottom:-60px;
    text-align:center;
    font-variant: small-caps;
    font-size:43px;
}
@media only screen and (max-width: 600px) {
    h1 {
      font-size: 20px;
    }
  }
#header{
    display:flex;
    position:fixed;
    width:100%;  
}
.house{
    padding-right:50px;
}
#nav-bar{
    border: 1px solid black;
    width:100%;
    margin-top: 0;
    padding: 20px 45px 15px 60px;
    background-color: navy;
    color:white;
}
.nav-link{
   padding-right:50px;
   color:white; 
}
.nav-link:hover{
    color:pink;
}
#video{
    margin-top:150px;
    display: flex;
    align-items: center;
    justify-content:center;   
}
#homePlans{
    padding-top:35px;
}

.table{
    display:flex;
    justify-content:center;

}
#table1 td {
    border:2px solid black;
    padding:5px 25px
}
#table2 td{
    border:2px solid black;
    padding:5px 25px
}
table tr th{
    font-size:18px;
    color:green;
    text-align:center;
}
