*{
    box-sizing: border-box;
}
body{   
    background-color: blanchedalmond;
}
html{
    font-size:25px;
}
h1{
    padding-top: 125px;
    margin-bottom:-50px;
}
@media only screen and (max-width: 600px) {
    h1 {
      font-size: 26px;
    }
  }
#header{
    display:flex;
    position:fixed
}
#nav-bar{
    
    border: 1px solid black;
    width:100%;
    margin-top: -25px;
    padding: 20px 45px 15px 20px;
    background-color: navy;
    color:white;
}
.nav-link{
   padding-right:50px;
   color:white; 
}
.nav-link:hover{
    color:pink;
}
#video{
    margin-top:150px;
    margin-left:25%;
}